{% extends "base.html" %}

{% block content %}
    <h1 style="color: #008080; text-align: center;">Welcome to Car Showroom</h1>
    <h2 style="text-align: center;">Brands:</h2>
    <ul style="list-style-type: none; padding: 0; text-align: center;">
        {% for brand in brands %}
            <li style="display: inline-block; margin: 10px;">
                <a href="/brand/{{ brand.id }}/" style="color: #000080; text-decoration: none;">{{ brand.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
